---
layout: workshop
root: .
venue: Institute of Molecular Genetics      # brief name of host site
address: Vídeňská 1083, Prague    # street address of home location
country: Czech-Republic    # country (hyphenated if need be, like 'United-Kingdom')
language: en   # language code like 'en' or 'fr'
maploc: https://mapy.cz/s/WSdB # Mapy.cz shortlink, e. g. https://mapy.cz/s/WSdB
humandate: Oct 8 - 9, 2016  # use the format 'Feb 17-18, 2020' (without the quotes)
humantime: 9:00 am - 5:00 pm  # use the format '9:00 am - 4:30 pm' (without the quotes)
startdate: 2015-10-08  # use YYYY-MM-DD format like 2015-01-01
enddate: 2015-10-09    # use YYYY-MM-DD format like 2015-01-02
instructor: ["Nasťa&nbsp;Zidkova", "Filip&nbsp;Sedlák", "Petr&nbsp;Šimeček", "Libor&nbsp;Mořkovský"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Václav&nbsp;Gergelits", "Vojtěch&nbsp;Filipec", "Petr&nbsp;Švarný","... and you? We're looking for helpers."]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: softwareforscientists@gmail.com    # contact email address for workshop organizer
etherpad: https://public.etherpad-mozilla.org/p/2016-10-08-umg # optional (insert the URL for your Etherpad if you're using one)
# eventbrite: # optional (delete this if not used, otherwise uncomment and provide 1234567890AB key for Eventbrite registration)
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->

<p>
This course will help you to use the computer more efficiently during your
research. We'll show you how to automate repetitive procedures like
manipulating files, computing statistics and creating charts from your data.
This will help you make your analyses less error prone and reproducible.
</p>
<p>
If you're eager to learn but you don't see the use of such skills in your
research, don't worry. The more you know, the more cases you'll see where you
can apply your newly acquired skills.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>You don't need to have any previous knowledge of the tools that will
    be presented at the workshop.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="{{page.maploc}}">Mapy.cz</a>
</p>

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>).
</p>

<p>
  <strong>Price:</strong> This course is offered to you at courtesy of the
  instructors and helpers. Please smile at them. :-)
  There is no budget for food and beverages. If you'd like to return
  the favour, you're more than welcome to bring in any meal or snack.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>


<p style="font-size: 180%; margin: 1em 0">
    <strong>Registration is closed now :-( See you next time!</strong>
</p>
<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Schedule</h2>
<p>
Don't take the schedule too seriously, it may change.
</p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:30</td>  <td>
              <ul>
                  <li>Introduction to RStudio</li>
                  <li>Using R as calculator</li>
                  <li>Reading files, using <code>data.frame</code></li>
                  <li>Variables, data types</li>
                  <li>Functions</li>
              </ul>
      </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>
              <ul>
                  <li>Functions (continued)</li>
                  <li>Subsetting</li>
                  <li>Conditions and loops</li>
                  <li>Base graphics</li>
                  <li>Plotting wiht <a href="http://docs.ggplot2.org/current/">ggplot2</a></li>
              </ul>
      </td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>
              <ul>
                  <li>Writing data &mdash; files, images</li>
                  <li>Using <code>apply</code>, <code>lapply</code> instead of loops</li>
                  <li>Transforming data with <a href="https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html">dplyr</a>
                      and <a href="https://blog.rstudio.org/2014/07/22/introducing-tidyr/">tidyr</a></li>
      </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>
              <ul>
                  <li><a href="http://rmarkdown.rstudio.com">R Markdown</a></li>
                  <li>Introduction to <a href="https://www.bioconductor.org/">bioconductor.org</a></li>
                  <li>Best practices in R</li>
      </td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Course material and further reading</h2>

<div class="row">
  <div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming with R</a></h3>
    <p>Basic Software Carpentry course teaching R programming.</p>
  </div>
  <div class="col-md-6">
    <h3><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a></h3>
    <p>R course focused on manipulating data.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <h3><a href="http://www.datacarpentry.org/genomics-workshop/">
              Data Carpentry Genomics workshop
          </a></h3>
          <p>Course from Data Carpentry teaching how to analyze genomics data using R and commandline tools.</p>
  </div>
  <div class="col-md-6">
    <h3>Other materials will follow</h3>
  </div>
</div>


<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  To participate in a Software for Scientists workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>

<div id="rstudio">
  <h3>R Studio</h3>

  <p>
    <a href="https://www.rstudio.com/">R Studio</a> is an integrated development environment (IDE) for R. It includes a console, syntax-highlighting editor that supports direct code execution, as well as tools for plotting, history, debugging and workspace management.
  </p>



  <div class="row">
    <div class="col-md-6">
      <h4>Can’t I just use R?</h4>
      <p>RStudio makes R easier to use. We'll teach the course using R Studio.</p>
      <h4>Download and installation</h4>
      <ol>
          <li>Install R. Download package for your system at <a href="https://cran.r-project.org/">CRAN</a>. Then run the installer.
              <ul>
                  <li>Linux only - you may already have R in your package manager. In Ubuntu, you can run <code>sudo apt-get install r-recommended</code></li>
              </ul>
          </li>
          <li>Install R Studio. Download package for your system at <a href="https://www.rstudio.com/products/rstudio/download2/#download">RStudio Desktop download</a> and run the installer.</li>
      </ol>

    </div>
    <div class="col-md-6">
      <h4>Video tutorial</h4>
      <em>Video by <a href="http://openintro.org">openintro.org</a></em>
      <iframe style="display: block; width: 100%; height: 254px;" src="https://www.youtube.com/embed/eD07NznguA4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
