<div class="footer">

  <a class="label swc-blue-bg" href="https://creativecommons.org/licenses/by/4.0/">Licensed as CC BY SA 4.0</a>
  <a class="label swc-blue-bg" href="https://github.com/swcarpentry/workshop-template">Based on Software Carpentry</a>
  <a class="label swc-blue-bg" href="https://github.com/datacarpentry/introduction-genomics/blob/gh-pages/LICENSE.md">Based on Data Carpentry</a>
  <a class="label swc-blue-bg" href="https://www.flickr.com/photos/fallentomato/14755931489/sizes/l">Header image CC BY NC 2.0</a>
</div>
